<div class='row'>
	<center>
		<%= image_tag("Title.png", :width => "70%") %>
		<div class='row' style="background-color:#FFFFFF;width:70%;height:400px">
			<h3> Never be late for class again </h3> 
		</div>
	</center>
</div>
