<h1 align='center'> Wide Awake </h1> 
<div class='row'>
	<center class='span12'>
		<div class='row'>
			<h3> Let's Keep Each Other in Check </h3> 
			<div class="span7">
			<img src='http://www.moneyplusblog.co.uk/wp-content/uploads/2012/10/Alarm-clock1.jpg'>		</div>
			<div class='span4'>
				<a class="btn btn-large" href="/alarms/new">Create a New Alarm</a>
				<br/><br/>
				<a class="btn btn-large" href="/alarms/">Browse</a> 
			</div>
		</div>
	</center>
</div>
