@charset "utf-8";
/* CSS Document */

body {
	height: 650px;
	background-image: url("../wild_oliva.png");
	
}

select{
    width:auto;
}

.container {
    margin-top:5%;
    width: 75%;
    background-color:#FFF;
    padding:25px;
    min-height:480px;
    
}

h1.Title {
	font-family: "Helvetica";
	font-style: normal;
	font-size: 45pt;
	padding: 15pt;
	text-align: center;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	color:#3399CC;
}

h1.Title a:hover{
	font-family: "Helvetica";
	font-style: underline;
	font-size: 45pt;
	padding: 15pt;
	text-align: center;
	margin-top: -10px;
	margin-left: -10px;
	margin-right: -10px;
	color:#3399CC;
}

.buttonDesign {
	-moz-border-radius:20px;
	-webkit-border-radius:20px;
	border-radius:20px;
	display:inline-block;
	color:#777777;
	font-size:23px;
	font-weight:bold;
	padding:13px 57px;
	text-decoration:none;	
}.buttonDesign:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}.buttonDesign:active {
	position:relative;
	top:1px;
}

td.text {
	/*font-family: "Rockwell Extra Bold", "Rockwell Bold", monospace;*/
	font-style: normal;
	font-size: 16px;
	letter-spacing: -1px;
	margin-left:50px;
	margin-right:50px;
	font-weight: normal;
	text-align: center;
	color:#000;
	display:block;
}

div.rightborder{
	border-right: thin solid #000;
}

div.tab {
	position: relative;
	text-align:center;
}

.tabs a:link {
	font-family: Arial, Helvetica, sans-serif;
	font-style:normal;
	font-size: 22px;
	letter-spacing: -1px;
	line-height: 50px;
	font-weight: normal;
	text-decoration: underline;
	text-align: center;
	color:#000;
	display:block;
}

.tabs  a:visited {
	font-family: Arial, Helvetica, sans-serif;
	font-style:normal;
	font-size: 22px;
	letter-spacing: -1px;
	line-height: 50px;
	font-weight: normal;
	text-decoration: underlined;
	text-align: center;
	color: #000;
	display:block;
}

.tabs a:hover {
	font-family: Arial, Helvetica, sans-serif;
	font-size: 22px;
	letter-spacing: -1px;
	line-height: 50px;
	background-color:#006;
	font-weight: normal;
	text-decoration: underline;
	text-align: center;
	color:#CCC;
	display:block;
}

.shadow {
  -moz-box-shadow:    3px 3px 5px 6px #666;
  -webkit-box-shadow: 3px 3px 5px 6px #666;
  box-shadow:         3px 3px 5px 6px #666;
}


